*{
  font-family: arial;
}

body {

background-image: url('https://github.com/cebem1nt/dotfiles/blob/main/wallpapers/dragons_lake_fog_white_boat_person.jpg?raw=true');
  background-size: cover;
  background-position: center;
  }

header {
  text-align: center;
  h1 {
  color: white;
  font-size: 30px;
  margin: 0;
  }
}
