@font-face{
  font-family: vt323;
  src: url('VT323-Regular.ttf') Format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'vt323', monospace;
}

body {

background-image: url('https://github.com/cebem1nt/dotfiles/blob/main/wallpapers/dragons_lake_fog_white_boat_person.jpg?raw=true');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

h1 {
  text-align: center;
  color: white;
  font-size: 48px;
  margin: 0;
}

.left-links, .right-links {
  flex: 1;
}

.right-links {
  display: flex;
  justify-content: flex-end;
}

a {
  color: white;
  font-size: 48px;
}
